server:
  port: 38108

spring:
  config:
    activate:
      on-profile: test

  ai:
    model:
      chat: bedrock-converse
    bedrock:
      aws:
        region: ap-northeast-2
        access-key: ${AWS_ACCESS_KEY_ID}
        secret-key: ${AWS_SECRET_ACCESS_KEY}

  datasource:
    url: jdbc:postgresql://localhost:5432/testdb
    username: lgcms
    password: 1234

  data:
    redis:
      host: localhost
      port: 6379
      database: 0

  kafka:
    bootstrap-servers: localhost:9092